<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Project</title>
</head>
<body>
    <h1><%=bookData['ISBN:0451526996'].preview_url%></h1>
</body>
</html>